<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire</title>
    <style>
        /* Style pour les bordures rouges et vertes */
        .valid {
            border: 1px solid green;
        }

        .invalid {
            border: 1px solid red;
        }
    </style>
</head>
<body>

    <form id="monFormulaire">
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" >

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" >

        <input type="submit" value="Soumettre">
    </form>

    <script>
        document.getElementById('monFormulaire').addEventListener('submit', function (event) {
            event.preventDefault(); // Empêcher la soumission du formulaire par défaut

            // Récupérer tous les champs de saisie du formulaire
            var champs = this.querySelectorAll('input');

            // Parcourir chaque champ
            champs.forEach(function (champ) {
                // Vérifier si le champ est correctement rempli
                if (champ.checkValidity()) {
                    champ.classList.remove('invalid');
                    champ.classList.add('valid');
                } else {
                    champ.classList.remove('valid');
                    champ.classList.add('invalid');
                }
            });
        });
    </script>
</body>
</html>
